<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metin.oyuncalismasi">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherasiliconumx1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherasiliconumx1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OyunCalismasi">
        <activity android:name=".SonucEkraniActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".OyunEkraniActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3025903384058604~7490536038"/>

        <receiver
            android:name="com.metin.oyuncalismasi.DailyReceiver"
            android:enabled="true" />

        <receiver
            android:name="com.metin.oyuncalismasi.WakeUpAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>